@model int[,]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center carton">
    @foreach (var item in Model)
    {
       @if (item == 0)
       {
           <div class="celdaVacia">""</div>
       }
       else
       {
           <div class="celdaCarton">@item</div>
       }
    }
</div>

<br/>
<div>
    <button type="button" class="btn btn-primary">Sortear</button>
    <label>LABEL</label>
</div>

