@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    @foreach (var item in Model)
    {
        if(item == 0)
        {
            <div class="col celdaVacia">""</div>
        }
        else
        {
            <div class="col celdaCarton">@item</div>
        }
    }
</div>