@using Bingo.ViewModels;
@model CartonViewModel
@{
    ViewData["Title"] = "Home Page";
}

<label id="labelCarton1"></label>
<div class="text-center carton1">
    @foreach (var item in Model.Carton1)
    {
       @if (item == 0)
       {
           <div class="celdaVaciaCarton1"></div>
       }
       else
       {
           <div class="celdaCarton1">@item</div>
       }
    }
</div>
<br/>
<label id="labelCarton2"></label>
<div class="text-center carton2">
    @foreach (var item in Model.Carton2)
    {
        @if (item == 0)
        {
            <div class="celdaVaciaCarton2"></div>
        }
        else
        {
            <div class="celdaCarton2">@item</div>
        }
    }
</div>
<br />
<label id="labelCarton3"></label>
<label class="text-center carton3">
    @foreach (var item in Model.Carton3)
    {
        @if (item == 0)
        {
            <label class="celdaVaciaCarton3"></label>
        }
        else
        {
            <label class="celdaCarton3">@item</label>
        }
    }
</label>
<br />
<label id="labelCarton4"></label>
<label class="text-center carton4">
    @foreach (var item in Model.Carton4)
    {
        @if (item == 0)
        {
            <label class="celdaVaciaCarton4"></label>
        }
        else
        {
            <label class="celdaCarton4">@item</label>
        }
    }
</label>
<br/>
<button class="btn btn-primary" onclick="LanzarBolilla()" id="btnLanzarBolilla">Lanzar bolilla</button>
<label id="label1"></label>

@section Scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
}
   