@using Bingo.ViewModels;
@model CartonViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center carton">
    @foreach (var item in Model.Carton1)
    {
       @if (item == 0)
       {
           <div class="celdaVacia"></div>
       }
       else
       {
           <div class="celdaCarton">@item</div>
       }
    }
</div>
<br/>
<div class="text-center carton">
    @foreach (var item in Model.Carton2)
    {
        @if (item == 0)
        {
            <div class="celdaVacia"></div>
        }
        else
        {
            <div class="celdaCarton">@item</div>
        }
    }
</div>
<br />


<label class="text-center carton" id="carton3" value=@Model.Carton3>

    @foreach (var item in Model.Carton3)
    {
        @if (item == 0)
        {
            <label class="celdaVacia"></label>
        }
        else
        {
            <label class="celdaCarton" value=@item>@item</label>
        }

    }
</label>

<br/>
<div>
    <button type="button" class="btn btn-primary" onclick="test()">Sortear</button>
    <label id="label1"></label>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
}
   