@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center carton">
    @foreach (var item in Model)
    {
        if(item == 0)
        {
           <div class="col celdaVacia">""</div>
        }
        else
        {
           <div class="col celdaCarton">@item</div>
        }
    }
</div>
<br/>
<div>
    <button type="button" class="btn btn-primary">Sortear</button>
</div>