html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carton1, .carton2, .carton3, .carton4 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    width: 60%;
    margin: 0;
}

.celdaCarton1, .celdaCarton2, .celdaCarton3, .celdaCarton4 {
    color: black;
    font-weight: bold;
    background-color: white;
    border-color: black;
    max-width: 200px;
    max-height: 400px;
    border-style: solid;
    margin: 0px;
}

.celdaVaciaCarton1, .celdaVaciaCarton2, .celdaVaciaCarton3, .celdaVaciaCarton4 {
    color: cornflowerblue;
    background-color: cornflowerblue;
    border-color: black;
    max-width: 200px;
    max-height: 400px;
    border-style: solid;
    margin: 0px
}

.principal{
    width:100%;
    margin-left:7%;
}



