html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carton {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    width: 40%;
    margin: 0;
}

.celdaCarton {
    color: black;
    font-weight: bold;
    background-color: white;
    border-color: black;
    max-width: 200px;
    max-height: 400px;
    border-style: solid;
    margin: 0px;
}

.celdaVacia {
    color: cornflowerblue;
    background-color: cornflowerblue;
    border-color: black;
    max-width: 200px;
    max-height: 400px;
    border-style: solid;
    margin:0px
}



